# --- GITHUB ---
# Create a PAT at https://github.com/settings/tokens
# Requirements: 'repo' scope (to trigger workflows and read artifacts)
GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=

# Set this in your GitHub Repo settings under Webhooks
GITHUB_WEBHOOK_SECRET=

# --- REDIS (Upstash) ---
UPSTASH_REDIS_REST_URL=https://easy-wren-105602.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAZyCAAIgcDE0OWE4NTVhZDMxZWQ0MDc0OGQxMDNmYTk4ZWU5ZjdlZg

# Fallback for local development
REDIS_URL=redis://localhost:6379

# --- NEXT.JS ---
NEXT_PUBLIC_APP_URL=http://localhost:3000
